/*
* Teamvieser Support Styles
*/
.irazu-remove-scroll {
  max-height: 100vh;
  overflow: hidden !important;
}

.irazu-agc__backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.irazu-agc-show {
  visibility: visible;
}

.irazu-agc__modal {
  padding: 57px 55px;
  width: 559px;
  background: white;
  text-align: center;
  overflow-y: auto;
}

.irazu-agc-show .irazu-agc__modal {
  animation: pop-up 0.3s ease forwards;
  transform: scale(1);
}

.irazu-agc__muted {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #94a3b8;
}
.irazu-agc__uppercase {
  text-transform: uppercase;
}
.irazu-agc__sm {
  font-size: 14px;
}

.irazu-agc__heading {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #1e293b;
}

.irazu-agc__form {
  margin: 36px 44px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.irazu-agc__form_field {
  margin-top: 18px;
  display: flex;
  align-items: flex-start;
}
.irazu-agc__form_field input {
  flex-shrink: 0;
}
.irazu-agc__form label {
  margin-left: 4px;
}

#irazu-agc-btn {
  margin-top: 36px;
  background: #dc2626;
  color: white;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.12em;
  color: #ffffff;
  border: none;
  padding: 16px;
}

.irazu-agc-cancel-btn {
  margin-top: 16px;
  color: #dc2626 !important;
  text-transform: uppercase;
  border: 1px solid #dc2626;
  background: white !important;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.12em;
}

@media only screen and (max-width: 640px) {
  .irazu-agc__modal {
    width: 90%;
    padding: 20px 12px;
  }

  /* .irazu-agc__muted {
    font-size: 14px;
  } */
  .irazu-agc__heading {
    font-size: 24px;
    line-height: 33px;
  }

  .irazu-agc__label {
    font-size: 12px !important;
  }

  .irazu-agc__form_field input {
    height: 16px !important;
    width: 16px !important;
  }
}

/**
* Animations
*/

@keyframes pop-up {
  0% {
    transform: scale(0.6);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
